beautifulsoup4>=4.4.1
betamax>=0.5.1
click>=6.3
colorama>=0.3.7
enum34>=1.1.2
fuzzywuzzy>=0.10.0
gevent>=1.1.0
greenlet>=0.4.9
grequests>=0.3.0
html5lib>=0.9999999
ipaddress>=1.0.16
Logbook>=0.12.5
numpy>=1.10.4
pandas>=0.18.0
pies>=2.6.7
pies2overrides>=2.6.7
py>=1.4.31
pytest>=2.9.0
python-dateutil>=2.5.0
pytz>=2016.1
pyzap>=0.3
requests>=2.9.1
six>=1.10.0
tqdm>=3.8.0
